/*General Demo Style*/
/*@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);*/

/* Reset */
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

body, html {
    font-size: 100%;
    padding: 0;
    margin: 0;
}

/* Main */
body {
    background: #00cf00;
    color: #fff;
    padding: 0;
    margin: 0 auto;
    font-family: 'Lato', Calibri, Arial, sans-serif;
}

a {
    color: #f0f0f0;
    text-decoration: none;
}

#container {
    width: 70%;
    margin: 0 auto;
}

#container > header {
    width: 100%;
    margin: 0 auto;
    padding: 46px 30px 30px;
}

#container > header h1 {
    font-size: 34px;
    line-height: 1.3;
    margin: 0;
    float: left;
    font-weight: 400;
}

#container > header span {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 8px;
    padding: 0 0 10px 2px;
}

#container > header nav {
    float: right;
}

#container > header nav a {
    display: block;
    float: left;
    position: relative;
    width: 40px;
    height: 40px;
    background: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: transparent;
    margin: 0 2px;
    border: 4px solid #0f0;
}

#container > header nav a:after {
    content: attr(data-info);
    color: #fff;
    position: absolute;
    width: 600%;
    top: 120%;
    text-align: right;
    right: 0;
    opacity: 0;
    pointer-events: none;
}

#container > header nav a:hover:after {
    opacity: 1;
}

#container > header nav a:hover {
    background: #009400;
}

#container > header nav a:hover:before {
    color: #fff;
}

.icon-home:before,
.icon-github:before {
    font-family: 'fontawesome';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 2;
    text-align: center;
    color: #009400;
    -webkit-font-smoothing: antialiased;
}

.icon-home:before {
    content: "\f015";
}

.icon-github:before {
    content: "\f113";
}

.main-content {
    background: #00f717;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 0 auto 30px;
}

.panel-container {
    padding: 5% 5%;
    text-align: center;
}

.panel-main {
    margin-bottom: 10px;
}

.title {
    font-size: 48px;
    margin: 0 0 16px;
    letter-spacing: 3px;
}

.subtitle {
    font-size: 21px;
    margin: 0 0 24px;
    letter-spacing: 1px;
    color: rgba(255,255,255, 0.9);
}

.sprite img {
    margin: 30px 0;
}

.btn-play {
    display: inline-block;
    padding: 10px 70px;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    color: #fff;
    background-color: #009700;
    border: 1px solid #016F01;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-play:hover {
    color: #fff;
    background-color: #00C700;
    border-color: #00BB00;
    outline: 0px none;
}

.panel-game {
    position: relative;
    width: 60%;
    margin: 0 auto;
}

#replay {
    float: left;
}
.icon-repeat {
    display: block;
    float: left;
    position: relative;
    width: 40px;
    height: 40px;
    background: #c60000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: transparent;
    border: 4px solid #9b0000;
    cursor: pointer;
}
.icon-repeat:before {
    font-family: 'fontawesome';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 32px;
    text-align: center;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    content: "\f01e";
}

.icon-repeat:after {
    content: attr(data-info);
    color: #fff;
    position: absolute;
    width: 90px;
    top: 5px;
    text-align: right;
    left: 25px;
    opacity: 0;
    pointer-events: none;
}
.icon-repeat:hover {
    background: #fff;
}
.icon-repeat:hover:before {
    color: #c60000;
}
.icon-repeat:hover:after {
    opacity: 1;
}

#timer {
    float: left;
    padding: 5px;
    border: 2px solid #9b0000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #C60000;
    color: #fff;
}

#timer-value {
    font-weight: bold;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 0s;
    -moz-animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
#score {
    float: right;
    padding: 5px;
    border: 2px solid #9b0000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #C60000;
    color: #fff;
}

.score-change {
    position: absolute;
    top: -10px;
    font-size: 20px;
    font-weight: bold;
    right: 6px;
}

.gameboard {
    position: relative;
}

.game-grid {
    padding: 0;
    list-style: none;
    position: relative;
    background: #00ce00;
    color: #fff;
}

.game-grid li {
    display: table;
    position: relative;
    float: left;
    overflow: hidden;
    width: 20%;
    cursor: pointer;
    border: 1px solid #fff;
}

.game-grid li.fixed {
    background-color: #0d6e0e !important;
}
.game-grid li.disabled {
    background-color: #888;
}
.game-grid li.acorn {

}
.game-grid li:hover {
    background-color: #fff;
    color: #c60000;
}

.game-grid li.selected {
    background-color: #7EFFA7;
    border: 1px solid #fff;
}

.game-grid li.selected:hover {
    background-color: #D1FFA6;
}

.game-grid li.selected:after {
    opacity: 1;
}

.game-grid li .content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.game-grid li img {
    display: block;
    position: absolute;
    width: 100%;
    cursor: pointer;
    max-width: 100%;
}

#result {
    position: absolute;
    top: 0;
    margin: 0 auto;
    background: rgba(58, 58, 58, 0.8);
    display: table;
}

#result-content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    text-shadow: 0 0 5px #000; /* horizontal-offset vertical-offset 'blur' colour */
    -moz-text-shadow: 0 0 5px #000;
    -webkit-text-shadow: 0 0 5px #000;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 540px) {
    /* Styles */
    #container {
        width: 90%;
    }

    .panel-game {
        width: 99%;
    }

    .game-grid li:after {
        width: 20px;
        height: 20px;
        font-size: 13px;
    }

    #image-to-guess {
        height: 50px;
        width: 50px;
    }

    #result {
        left: 0;
    }
}