@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

/* Reset */
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* Main */
html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Lato', Calibri, Arial, sans-serif;
}

body {
    background: #00cf00;
    color: #fff;
    padding: 0;
    margin: 0 auto;
}

a {
    color: #f0f0f0;
    text-decoration: none;
    outline: none;
}

.main-content {
    background: #70FF00;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.panel-container {
    padding: 3%;
    text-align: center;
}

.panel-main {
    margin-bottom: 10px;
}

.title {
    font-size: 48px;
    margin: 0 0 16px;
    letter-spacing: 3px;
}

.subtitle {
    font-size: 21px;
    margin: 0 0 24px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.9);
}

.sprite img {
    margin: 30px 0;
    border: 1px solid #00ff00;
}

.button-holder {
    margin-bottom: 5px;
}

.btn-play,
.btn-hall-of-fame {
    display: inline-block;
    padding: 10px 0;
    width: 174px;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    color: #fff;
    background-color: #17B417;
    border: 1px solid #23FD23;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        color: #fff;
        background-color: #29E229;
        border-color: #79FF79;
        outline: 0px none;
    }
}

.panel-game,
.panel-hall-of-fame {
    position: relative;
    width: 50%;
    margin: 0 auto;
    min-height: 327px;
}

.scoreboard {
    height: 35px;
    margin-bottom: 15px;
}

.icon-holder {
    position: absolute;
}

.icon-fun-fact-holder {
    right: 0;
}

.icon-round {
    display: block;
    float: left;
    position: relative;
    width: 40px;
    height: 40px;
    background: #047A04;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: transparent;
    border: 4px solid #19d300;
    cursor: pointer;

    &:before {
        font-family: 'fontawesome';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        speak: none;
        font-style: normal;
        font-weight: normal;
        line-height: 32px;
        text-align: center;
        color: #fff;
        -webkit-font-smoothing: antialiased;
        content: "\f053";
    }

    &:after {
        content: attr(data-info);
        position: absolute;
        top: -22px;
        left: 0;
        width: 95px;
        text-align: left;
        font-size: 14px;
        font-weight: bold;
        color: #009400;
        opacity: 0;
        pointer-events: none;
    }

    &:hover {
        background: #fff;

        &:before {
            color: #047a04;
        }

        &:after {
            opacity: 1;
        }
    }
}

.icon-fun-fact {
    float: right;

    &:before {
        content: "\f005";
    }

    &:after {
        left: auto;
        right: 0;
        text-align: right;
    }
}

.round-number,
.heading {
    color: #047A04;
    font-size: 30px;
}

.board {
    position: relative;
}

.grid {
    margin: auto;
    padding: 0;
    list-style: none;
    position: relative;
    background: #00FF29;
    color: #fff;
    border: 1px solid #000;

    li {
        display: table;
        position: relative;
        float: left;
        width: 20%;
        cursor: pointer;
        border: 1px solid #000;

        img {
            display: block;
            position: absolute;
            width: 100%;
            cursor: pointer;
            max-width: 100%;
        }

        &:not(.disabled):hover {
            background-color: #fff;
            color: #00FF00;
        }
    }
}

.menu-grid li {
    &.disabled {
        background-color: #888;
    }

    &.locked {
        background-color: #002e00;
    }

    span {
        position: absolute;
        left: 10px;
        font-size: 30px;
        color: #098109;
    }
}

$nodeFixedBgColor: #002e00;
$nodeSelectedBgColor: #bdffd2;
$nodeSelectedHoverBgColor: #f7ffa0;
$nodeSelectedFixedBgColor: #3c833c;

.board-grid li {
    &.node-fixed {
        background-color: $nodeFixedBgColor;

        &:hover {
            background-color: $nodeFixedBgColor;
        }

        &.up,
        &.up:hover {
            border-top: 1px solid $nodeFixedBgColor;
        }

        &.right,
        &.right:hover {
            border-right: 1px solid $nodeFixedBgColor;
        }

        &.down,
        &.down:hover {
            border-bottom: 1px solid $nodeFixedBgColor;
        }

        &.left,
        &.left:hover {
            border-left: 1px solid $nodeFixedBgColor;
        }
    }

    &.node-disabled {
        background-color: #888;

        &:hover {
            background-color: #888;
        }

        &.up,
        &.up:hover {
            border-top: 1px solid #888;
        }

        &.right,
        &.right:hover {
            border-right: 1px solid #888;
        }

        &.down,
        &.down:hover {
            border-bottom: 1px solid #888;
        }

        &.left,
        &.left:hover {
            border-left: 1px solid #888;
        }
    }

    &.node-acorn.warning {
        background-color: #FF6363;
    }

    &.selected {
        background-color: $nodeSelectedBgColor;

        &.up {
            border-top: 1px solid $nodeSelectedBgColor;

            &:hover {
                border-top: 1px solid $nodeSelectedHoverBgColor;
            }

            &.node-fixed,
            &.node-fixed:hover {
                border-top: 1px solid $nodeSelectedFixedBgColor;
            }
        }

        &.right {
            border-right: 1px solid $nodeSelectedBgColor;

            &:hover {
                border-right: 1px solid $nodeSelectedHoverBgColor;
            }

            &.node-fixed,
            &.node-fixed:hover {
                border-right: 1px solid $nodeSelectedFixedBgColor;
            }
        }

        &.down {
            border-bottom: 1px solid $nodeSelectedBgColor;

            &:hover {
                border-bottom: 1px solid $nodeSelectedHoverBgColor;
            }

            &.node-fixed,
            &.node-fixed:hover {
                border-bottom: 1px solid $nodeSelectedFixedBgColor;
            }
        }

        &.left {
            border-left: 1px solid $nodeSelectedBgColor;

            &:hover {
                border-left: 1px solid $nodeSelectedHoverBgColor;
            }

            &.node-fixed,
            &.node-fixed:hover {
                border-left: 1px solid $nodeSelectedFixedBgColor;
            }
        }

        &:hover {
            background-color: $nodeSelectedHoverBgColor;
        }

        &.node-fixed {
            background-color: $nodeSelectedFixedBgColor;
        }
    }

    .content {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
}

.highscore-list {
    margin: 0;
    padding: 0;
    background: #39FF7E;
    min-height: 402px;

    li {
        height: 42px;
        margin-bottom: -2px;
        border: 2px solid #57880D;
        background: #7EFF7E;
        color: #054510;
        font-size: 20px;
        line-height: 42px;
        list-style: none;
    }
}

.loader {
    width: 1em;
    height: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    font-size: 20px;
    text-indent: -9999em;
    z-index: 1;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

@-webkit-keyframes load4 {
    0%,
    100% {
        box-shadow: 0em -3em 0em 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 0em #ffffff;
    }
    12.5% {
        box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }
    25% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 0.2em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }
    37.5% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }
    50% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }
    62.5% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }
    75% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0em #ffffff;
    }
    87.5% {
        box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 0.2em #ffffff;
    }
}

@keyframes load4 {
    0%,
    100% {
        box-shadow: 0em -3em 0em 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 0em #ffffff;
    }
    12.5% {
        box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }
    25% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 0.2em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }
    37.5% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }
    50% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }
    62.5% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }
    75% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0em #ffffff;
    }
    87.5% {
        box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 0.2em #ffffff;
    }
}

.infinite {
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.fb-like{
    height: 20px;
    overflow: hidden !important;
}

/* Mobile Phones Portrait or Landscape */
@media screen and (max-device-width: 640px) {
    .subtitle {
        margin: 0;
    }

    .panel-game,
    .panel-hall-of-fame {
        width: 100%;
    }

    .grid li:after {
        width: 20px;
        height: 20px;
        font-size: 13px;
    }

    .menu-grid li span {
        left: 5px;
        font-size: 15px;
    }

    .heading, .round-number {
        color: #047A04;
        font-size: 25px;
        line-height: 40px;
    }

    .icon-back:after,
    .icon-fun-fact:after {
        content: '';
    }

    .scoreboard {
        margin-bottom: 10px;
    }

    .highscore-list {
        min-height: 302px;

        li {
            height: 32px;
            line-height: 32px;
            font-size: 16px;
        }
    }
}
